.auth-container {
    max-width: auto;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color:black;
  }
  
  .auth-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background: #0056b3;
  }
  